<table>
    <tr>
        <td>
            <p>Johan David Baltazar Trinidad</p>
            <p>Ser SNI 3, y tener 3 cuadritos</p>

        </td>
        <td>
            <img src="/home/dazayy/Descargas/imagen-work-experience.jpeg" width="100" height="100">
        </td>

        <td>
            <ul>
                <li>johanbalthazar@gmail.comm</li>
                <li>2721449583</li>
                <li>Rafael Delagado, veracruz</li>
                <li>@dazayy__</li>
            </ul>
        </td>
    </tr>
</table>